body{
    margin: 0;
}
li{
    list-style: none;
}
h1{
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: blue;
    
}
ul{
    display: flex;
    gap: 20px;

}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}
p{
    margin: 5%;
}
.main h1{
    text-align: center;

}
img{
    width: 20vw;
    border-radius: 50%;
    
}
@media (max-width:500px){
    ul{
        flex-direction: column;
        gap: 10px;
    }
}
@media (max-width:290px){
    .nav{
        flex-direction: column;
        align-items: center;
    }
}